
.news-card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.06);

    transition:.4s ease;

    height:100%;
}

.news-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.news-card img{
    height:240px;
    width:100%;
    object-fit:cover;

    transition:.5s;
}

.news-card:hover img{
    transform:scale(1.05);
}

.news-content{
    padding:24px;
}

.news-category{
    display:inline-block;
    padding:6px 12px;
    border-radius:20px;

    background:rgba(31,94,47,.1);

    color:var(--primary);

    font-size:.85rem;
    font-weight:600;
}